body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #77E4C8; 
    color: #333;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: center;
    padding: 0 30px 2%;
    margin-bottom: 1rem;
    background-color: #36c1ce00; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.header div {
    text-align: center;
    width: 32%;
    padding: 20px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.mission {
    background-color: #478CCF; 
}

.history {
    background-color: #4535C1; 
}

.directors {
    background-color: #36C2CE; 
}

.header div:hover {
    background-color: #2b9aaa; 
}

.mission:hover {
    background-color: #356ea6; 
}

.history:hover {
    background-color: #352a9f; 
}

.directors:hover {
    background-color: #2b9aaa; 
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 40px 5%;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.content .latest-news {
    flex: 2;
    padding-right: 20px;
}

.content .featured {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.content .featured img {
    width: 48%; 
    margin: 1%;
    border-radius: 8px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.content .featured img:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.content img.main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.content img.main-image:hover {
    transform: scale(1.02); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.content .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #4535C1; 
    padding-bottom: 10px;
}

.read-more {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.read-more:hover {
    background-color: rgba(255, 255, 255, 0.4); 
    transform: translateY(-3px); 
}

@media (max-width: 768px) {
    .content .featured{
        flex-wrap: nowrap;
        overflow: auto;
    }
    .content .featured img {
        width: 35%;
    }
}

@media (max-width: 690px) {
    .header div .h2{
        font-size: 1.4rem;
    }
    .header div .fs{
        font-size: .8rem;
    }
    
}





