*{
    padding: 0;
    margin: 0;
}

:root {
    --celeste-claro: #77E4C7;
    --azul:#36C2CF ;
    --azul2:#478CCF;
    --azuloscuro:#4635C1;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header,
nav,
section,
aside,
footer {
    padding: 1em;
    color: white;
}

header {
    background: #333;
}

nav {
    background: #000000e3;
    position: sticky;
    top: 0;
}

section {
    background: #555;
    flex: 2;
}

aside {
    background: #666;
    flex: 1;
}

footer {
    background: #333;
}

.viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
}

.conten {
    padding: 2rem;
    background-color: rebeccapurple;
    width: 220px;
    height: 100rem;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    aside {
        order: 1;
    }

    section {
        order: 2;
    }
}